# Byte-compiled / Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env

# SQLite database file
*.db
*.sqlite3

# Pytest cache
.pytest_cache/

# IDEs
.vscode/
.idea/

# Uvicorn / log files
*.log
